@charset "UTF-8";

@media screen and (max-width: 1060px) {
    #primary {width:63%; }
    #secondary {width:130%; margin-left:3%; }
}

@media screen and (max-width: 768px) {
    #primary {width:100%; }
    #secondary {width:100%; margin:0; border:none; }
}

body {
    padding-top: 10px;
    background-image: url("resources/background.jpg");
    font-family: Arial, Helvetica, sans-serif;
}

.active {
    color: blue;
}

h1 {
    color: lightgrey;
}

h2 {
    color: lightgrey;
}

p {
    color: lightgrey;
}

.content {
    max-width: 100%;
    margin: auto;
}

.centered {
    text-align: center;
}

.topNav {
    font-weight: bold;
    background: grey;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 10px;
}

.topNav a:hover {
    background-color: grey;
    color: white;
}

.button {
    font-weight: bold;
    text-align: center;
}

.footer {
    font-weight: bold;
    position: absolute;
    right: 40%;
    bottom: 0;
    left: 40%;
    padding: 5px;
    background: grey;
    text-align: center;
}

hr {
    visibility: hidden;
}

#email {
    color: lightblue;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
    color: lightgrey;
}

input, textarea {
    font: 1em;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000000
}

textarea {
    vertical-align: top;
}

formButton {
    margin-left: .5em;
}

.article {
    display: inline-block;
    text-align: left;
    width: 500px;
    margin: auto;
    padding: 5px;
    border: 3px solid white;
}

.separator {
    padding: 10px;
}

.container {
    position: absolute;
    left: 5px;
    text-align: left;
    width: 650px;
    padding: 5px;
    border: 5px solid white;
}

.navigationSpace {
    padding-left: 10px;
}